@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --red: rgb(184, 20, 20);
  --background: rgba(0, 0, 0, 0.6);
}

html {
  box-sizing: border-box;
  background-color: black;
  background-image: url('../imgs/food.jpg');
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#content {
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  gap: 10px;
}


h1, h2, h3, .about-title {
  margin: 0;
  text-align: center;
  font-size: 7rem;
  font-family: 'Rye', cursive;
  -webkit-text-fill-color: var(--red); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 0px 15px white;
}

h1 {
  white-space: nowrap;
  margin: 0px auto;
}

h2, h3, .about-title {
  font-size: 2rem;
  text-shadow: 0px 0px 5px white;
  -webkit-text-stroke-width: 0.5px;
}

h2 {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}


h3, .about-title {
  font-size: 1.5rem;
  text-shadow: 0px 0px 1px black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.1px;
  line-height: 2.0;
  background-color: var(--background);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 2px solid black;
  width: 60ch;
}

.about-title {
  border: none;
  width: 300px;
  background: none;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  padding-bottom: 0;
  margin-bottom: 0;
}

nav {
  min-width: max-content;
  display: flex;
  gap: 40px;
  justify-content: center;
  background-color: var(--background);
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.tab {
  font-family: 'Rye', cursive;
  width: 200px;
  min-width: 100px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  border-radius: 15px;
}

.tab:hover {
  color: white;
  background-color: var(--background);
  border-color: white;
}

.tab:active {
  text-shadow: 0 0 5px white;
}

img {
  width: 500px;
  max-height: auto;
  overflow: hidden;
  border: 2px solid black;
}

.menu {
  display: flex;
  padding: 20px;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  font-family: 'Rye', cursive;
  color: white;
  background-color: var(--background);
}

.item-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 10px;
}